* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
}
nav {
  height: 10vh;
  background: purple;
}

.nav-link {
  display: flex;
  width: 50%;
  height: 100%;
  justify-content: space-around;
  align-items: center;
  margin-left: auto;
}

li {
  color: white;
  text-decoration: none;
  list-style: none;
  font-size: 16px;
}

@media screen and (max-width: 768px) {
  .line {
    background-color: white;
    width: 30px;
    height: 3px;
    margin: 5px;
  }

  nav {
    position: relative;
  }

  .hamburger {
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 50%;
    transform: translate(-5%, -50%);
    z-index: 2;
  }

  .nav-link {
    position: fixed;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    clip-path: circle(100px at 90% -10%);
    -webkit-clip-path: circle(100px at 90% -10%);
    transition: all 1s ease-out;
    pointer-events: none;
  }
  .nav-link.open {
    background: black;
    pointer-events: all;
    clip-path: circle(1000px at 90% -10%);
    -webkit-clip-path: circle(1000px at 90% -10%);
  }
  .nav-link li {
    opacity: 0;
    font-size: 25px;
  }
  .nav-link li:nth-child(1) {
    transition: all 0.5s ease 0.2s;
  }
  .nav-link li:nth-child(2) {
    transition: all 0.5s ease 0.4s;
  }
  .nav-link li:nth-child(3) {
    transition: all 0.5s ease 0.6s;
  }
  li.fade {
    opacity: 1;
  }
}
